<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <p>Look at me ma!</p>
    <p>The list of users:</p>

    <% users.forEach((user) => { %>
    <p>
      User <strong><%= user.username %></strong> has password
      <strong><%= user.password %></strong>
    </p>
    <% }) %>
  </body>
</html>
